<head>
  <meta charset="utf-8">

  <title>Soap Scents</title>

  <!-- icon font awesome -->
  <script src="https://kit.fontawesome.com/db553eed8d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/app.css">
</head>
