<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Soap Index</title>
        <link rel="stylesheet" href="/css/app.css">

    </head>
    <body>
    <div class="grid-container">

      <div class="nav">
        <h2>nav</h2>
      </div>
      <div class="header">
        <h2>header</h2>
      </div>

      <div class="side-bar">
        <h2>sidebar</h2>
      </div>

          <div class="soap-list">

              <h1>Soap index page</h1>
              <ul>
                  <% for(let i = 0; i < soap.length; i++){ %>

                    <li>
                        <form action="<%=soap[i].id%>?_method=DELETE" method="POST">
                        <a href="/soap/<%=i%>" style="text-decoration: none;"><%=soap[i].name%></a>

                        <!-- Delete button/form -->
                          <input type="submit" value="DELETE"/>
                          <!-- Edit link -->
                          <a href="/soap/<%=soap[i].id%>/edit">EDIT</a>

                          </form>
                    </li>

                  <% } %>
              </ul>

              <button class="new" type="button" name="button"><a href="/soap/new" style="text-decoration: none;">Enter a New Soap</a></button>

            </div>



        <div class="footer">
          <h2>footer</h2>
        </div>
      </div>
    </body>
</html>

<!-- code graveyard -->
