<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Soap Index</title>
    </head>
    <body>
        <h1>Soap index page</h1>
        <ul>
            <% for(let i = 0; i < soap.length; i++){ %>
              <li>
                  <a href="/soap/<%=i%>"><%=soap[i].name%></a>

                  <!-- Delete button/form -->
                  <form action="<%=soap[i].id%>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE"/>
                  </form>

                  <!-- Edit link -->
                  <a href="/soap/<%=soap[i].id%>/edit">Edit Soap</a>
              </li>
            <% } %>
        </ul>

            <button type="button" name="button"><a href="/soap/new">Enter a New Soap</a></button>

    </body>
</html>

<!-- code graveyard -->
