<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  </head>
  <body>

    <div class="container">
      <h1>New Soap Page</h1>
      <form action="/soap" method="POST">

        <label for="image">Soap Image:</label>
        <input type="text" name="name" required />


        <label for="name">Soap Name:</label>
        <input type="text" name="name" required />

        <label for="costPerBar">Cost Per Bar</label>
        <input type="number" name="costPerBar" />

        <br>
        <input type="submit" value="Submit">
      <form>
    </div>
  </body>
</html>
