<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>soap show</title>

  </head>
  <body>

    <h1>Soap Show Page</h1>
    <!-- Display Image -->
    <img src = <%=soap.image%> alt="Soap Image" width="100" height="100"
    <h2><%= soap.name %></h2>
    <h3>$  <%= " " + soap.price %></h3>

    <a href="/soap">Back to Soap Index</a>
  </body>
</html>

<!-- code graveyard -->
