/* * { */
  /* border: 1.5px solid black; */
/* } */

body {
  height: 100%;
  width: 75%;
  font-size: 25px;
  color: black;
}

.fullPage {
  height: 100%;
  width: 100%;
  position: absolute;
  /* background-image: url(https://imgur.com/3AGzYr9.jpg); */
  /* opacity: 0.3; */
  filter: alpha(opacity=20);
}

/* =========== grid container SHOW & EDIT page =========== */
.form {
  display: flex;
  flex-flow: column wrap;
  /* background-color:  #69967e; */
}
.soap-container {
  display: grid;
  grid-template-rows: 1fr 1fr 400px 1fr;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
  flex-grow: 1;
  background-color:  #69967e;

  grid-template-areas:
  "nav nav nav nav"
  "header header header header"
  "side-bar soap-ingredients soap-lye-weight soap-cost"
  "footer footer footer footer";
}

.soap-cost {
  grid-area: soap-cost;
  /* background-color:  #69967e; */
  text-align: center;
  font-size: 18px;
}

.soap-ingredients {
  grid-area: soap-ingredients;
  /* background-color:  #69967e; */
  text-align: center;
  font-size: 18px;
}

.soap-lye-weight {
  grid-area: soap-lye-weight;
  /* background-color:  #69967e; */
  text-align: center;
  font-size: 18px;
}

/* =========== grid container index page =========== */

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr 300px 400fr;
  grid-template-columns: repeat(4, 1fr);

  grid-template-areas:
  "nav nav nav nav"
  "header header header header"
  "side-bar soap-list soap-list soap-list"
  "footer footer footer footer";
}

.nav {
  grid-area: nav;
  background-color: #ccc49b;
}

.header {
  grid-area: header;
  background-color: #b08498;
  color: #8cb4d1;
  text-align: center;
}

.footer {
  grid-area: footer;
  background-color: #ccc49b;
  display: flex;
  flex-direction: row;
  display: inline-block;
}

.side-bar {
  grid-area: side-bar;
  background-color: #69967e;
}

.soap-list {
  grid-area: soap-list;
    background-color: #69967e;
  /* background-color: red; */
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.button {
  /* w3schools */
  background-color: #dea97e;
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
